@layer components{
	.side-link{
		@apply flex items-center font-normal bg-transparent text-neutral w-full gap-3 transition-all py-3 px-5 rounded-xl;
	}
	.side-link:hover{
		@apply text-base-100 bg-base-300;
	}
	.side-link.active{
		@apply text-base-100 bg-primary;
	}
	.side-link.active:hover{
		@apply text-base-100 bg-primary;
	}
}